.home-container {
    align-items: center;
    justify-content: center;
}
.options-container{
    position: absolute;
    align-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    height: 40%;
    border-radius: 25px;
    background-color: #312C51;
}

.options-container h3 {
    position: absolute;
    color: #F0C38E;
    text-align: left;
    margin-left: 4%;
    margin-top: 100px;
}

.options-container p {
    position: absolute;
    color: #F0C38E;
    text-align: left;
    margin-left: 4%;
    margin-top: 140px;
}

.dropdown-container {
    position: absolute;
    margin-left: 40%;
    margin-top: 140px;
}

