.MuiNativeSelect-root {
    background-color: #F0C38E;
    width: 180px;
    padding-left: 6px;
}

.MuiNativeSelect-select {
    background-color: #F0C38E;
}

.select {
    background-color: #F0C38E;
}

